.App {
  font-family: sans-serif;
  text-align: center;
}

button {
  font-weight: bold;
}

.resetButton {
  margin: 40px;
  width: 100px;
  height: 45px;
  font-size: 35px;
}

span {
  font-size: 30px;
}

.counter {
  margin-top: 20px;
}

.display {
  margin-top: 20px;
}

.slider {
  margin-top: 5px;
}
