* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

.box {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
  background-color: #f7f7f7;
}

.textContainer {
  margin: 10px;

  button {
    border: 2px solid #a4eed3ff;
    background: none;
    font-weight: bold;
    height: 30px;
    width: 100px;
  }

  button:hover {
    background-color: #a4eed3ff;
  }
}
